@font-face {
    font-family: 'DIN Medium';
    src: url(fonts/DIN\ Medium.ttf);
}


body {
    font-family: 'DIN Medium';
    font-weight: lighter;
    text-align: center;
    background-color: #FFDE59;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header {
    background-color: #FFDE59;
    color: #fff;
    padding: 10px 0;
}

.container {
    margin: 20px auto;
    max-width: 800px;
}

.button {
    margin: 10px;
    padding: 10px;
    color: #FFDE59;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.logo {
    max-width: 150px; 
    margin: 5px auto 5px auto;
}